@import "variables";

#indexMain
{
  grid-row: 2/3;
  grid-column: 1/13;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 40px 100px 100px 500px 30px 250px 60px 350px;
  display: grid;
}

.tagline
{
  font-size: 40px;
  font-family: $font;
  grid-column: 4/11;
}

#tagline1
{
  grid-row: 2/3;
}

#tagline2
{
  grid-row: 6/7;
}

#heropic
{ 
  grid-row: 4/5;
  grid-column: 2/12;
  background-image: url("../img/hero.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  
}

#picholder
{
  display: flex;
  justify-items: center;
  align-items : center;
 
}


.picrow
{
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 300px;

}

#pic1
{
  grid-row: 8/9;
  grid-column: 1/3;
  background-image: url("../img/DSC_2321.JPG");
}
#pic2
{
  grid-row: 8/9;
  grid-column: 4/6;
  background-image: url("../img/DSC_2320.png");
}
#pic3
{
  grid-row: 8/9;
  grid-column: 7/9;
  background-image: url("../img/DSC_2319.JPG");
}
#pic4
{
  grid-row: 8/9;
  grid-column: 10/12;
  background-image: url("../img/DSC_2318.JPG");
}