$OColor: #D3D3D3; 

#stats   {
    grid-column: 1/13;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(9, 1fr);
    display: grid;
}

#stat1 {
    background-image: url("../img/alder.PNG");
    grid-row: 1/3;
    grid-column: 1/7;
}

#stext1 {
    grid-row: 1/3;
    grid-column: 7/13;
}


#stat2 {
    background-image: url("../img/fik.PNG");
    grid-row: 3/5;
    grid-column: 7/13;
    background-color: $OColor;
}

#stext2 {
    grid-row: 3/5;
    grid-column: 1/7;
    background-color: $OColor;
}


#stat3 {
    background-image: url("../img/døde.PNG");
    grid-row: 5/7;
    grid-column: 1/7;
}

#stext3 {
    grid-row: 5/7;
    grid-column: 7/13;
}


#stat4 {
    background-image: url("../img/venteliste.PNG");
    grid-row: 7/9;
    grid-column: 7/13;
    background-color: $OColor;
}

#stext4 {
    grid-row: 7/9;
    grid-column: 1/7;
    background-color: $OColor;
}


.stat {
    height: 500px;
    width: 800px;
    background-size: contain;
    align-content: center;
    background-repeat: no-repeat;
}

.stext {
    font-size: 14px;
    text-align: center;
}

#bstat {
    background-image: url("../img/Udklip.PNG");
    background-repeat: no-repeat;
    grid-column: span 12;
    background-size: cover;
    background-position-y: -20px
}