@import "header";
@import "footer";
@import "indexPage";
@import "statistik";


@import "donor";

body {
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 210px 1fr 183px;
  display: grid;
}

